:root{

    /* ## Colors */
    /* ### Primary */
    
    --Bright-Blue: hsl(220, 98%, 61%);
    --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

    
    /* ### Neutral */

    /* ### Light Theme */

    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
    --Light-Grayish-Blue: hsl(233, 11%, 84%);
    --Dark-Grayish-Blue: hsl(236, 9%, 61%);
    --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

    
    
    /* ### Dark Theme */

    --Very-Dark-Blue: hsl(235, 21%, 11%);
    --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
    --Light-Grayish-Blue: hsl(234, 39%, 85%);
    --Light-Grayish-Blue-hover: hsl(236, 33%, 92%);
    --Dark-Grayish-Blue: hsl(234, 11%, 52%);
    --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);


    /* ## Typography */

    /* ### Body Copy */

    --font-size: 18px;
    --font-family : 'Josefin Sans', sans-serif;
}



/* light mode color palete */
.theme-light{
    --Very-Light-Gray: var(--Very-Light-Gray); 
    --Very-Light-Grayish-Blue: var(--Very-Light-Grayish-Blue);
    --Light-Grayish-Blue: var(--Light-Grayish-Blue);
    --Dark-Grayish-Blue: var(--Dark-Grayish-Blue);
    --Very-Dark-Grayish-Blue: var(--Very-Dark-Grayish-Blue);
    --inpt-bg-clr : white;
    --inpt-txt-clr: black; 
}



/* Dark mode color palate */
.theme-dark{
    --very-dark-blue: var(--Very-Dark-Blue);
    --very-dark-desaturated-blue: var(--Very-Dark-Desaturated-Blue); 
    --light-grayish-blue: var(--Light-Grayish-Blue);
    --light-grayish-blue-hover: var(--Light-Grayish-Blue-hover);
    --dark-grayish-blue: var(--Dark-Grayish-Blue);
    --very-dark-grayish-blue: var(--Very-Dark-Grayish-Blue);
    --test-clr : pink;
    --inpt-bg-clr : var(--very-dark-desaturated-blue);;
    --inpt-txt-clr: white; 
}
